USE [master]
GO
/****** Object:  Database [Db19SA1187]    Script Date: 24/01/2022 10:09:18 ******/
CREATE DATABASE [Db19SA1187]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Db19SA1187', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Db19SA1187.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Db19SA1187_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\Db19SA1187_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Db19SA1187].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Db19SA1187]
GO
/****** Object:  Table [dbo].[Tbadmin]    Script Date: 24/01/2022 10:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbadmin](
	[userId] [varchar](10) NOT NULL,
	[password] [varchar](10) NOT NULL,
	[namaUser] [varchar](20) NOT NULL,
	[Otoritas] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[userId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbcustomer]    Script Date: 24/01/2022 10:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbcustomer](
	[idCustomer] [varchar](6) NOT NULL,
	[namaCustomer] [varchar](20) NOT NULL,
	[almntCustomer] [varchar](45) NOT NULL,
	[kota] [varchar](20) NOT NULL,
	[nmrHp] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCustomer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TbDetailTransaksi]    Script Date: 24/01/2022 10:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TbDetailTransaksi](
	[idTransaksi] [varchar](10) NOT NULL,
	[idMenu] [varchar](5) NOT NULL,
	[hrgbeli] [int] NOT NULL,
	[hrgjual] [int] NOT NULL,
	[jmljual] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbmenu]    Script Date: 24/01/2022 10:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbmenu](
	[idMenu] [varchar](5) NOT NULL,
	[namaMenu] [varchar](20) NOT NULL,
	[hargaBeli] [int] NOT NULL,
	[hargaJual] [int] NOT NULL,
	[satuan] [varchar](3) NULL,
	[stok] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idMenu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tbtransaksi]    Script Date: 24/01/2022 10:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tbtransaksi](
	[idTransaksi] [varchar](10) NOT NULL,
	[tglTransaksi] [date] NULL,
	[idCustomer] [varchar](6) NOT NULL,
	[userId] [varchar](10) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idTransaksi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Tbtransaksi] ADD  CONSTRAINT [DF__Tbtransak__tglTr__31EC6D26]  DEFAULT ('1900-01-01') FOR [tglTransaksi]
GO
ALTER TABLE [dbo].[TbDetailTransaksi]  WITH CHECK ADD  CONSTRAINT [FK_MENU] FOREIGN KEY([idMenu])
REFERENCES [dbo].[Tbmenu] ([idMenu])
GO
ALTER TABLE [dbo].[TbDetailTransaksi] CHECK CONSTRAINT [FK_MENU]
GO
ALTER TABLE [dbo].[TbDetailTransaksi]  WITH CHECK ADD  CONSTRAINT [FK_TRANSAKSI] FOREIGN KEY([idTransaksi])
REFERENCES [dbo].[Tbtransaksi] ([idTransaksi])
GO
ALTER TABLE [dbo].[TbDetailTransaksi] CHECK CONSTRAINT [FK_TRANSAKSI]
GO
ALTER TABLE [dbo].[Tbtransaksi]  WITH CHECK ADD  CONSTRAINT [FK_CUSTOMER] FOREIGN KEY([idCustomer])
REFERENCES [dbo].[Tbcustomer] ([idCustomer])
GO
ALTER TABLE [dbo].[Tbtransaksi] CHECK CONSTRAINT [FK_CUSTOMER]
GO
/****** Object:  StoredProcedure [dbo].[ADDMENU]    Script Date: 24/01/2022 10:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ADDMENU]
@idMenu varchar(5), @namaMenu varchar(20), @hrgBeli int,
@hrgJual int, @satuan int, @stok int
as
if exists(select * from Tbmenu where idMenu = @idMenu)
	update Tbmenu set namaMenu = @namaMenu, hargaBeli = @hrgBeli,
	hargaJual = @hrgJual, satuan = @satuan, stok = @stok
	where idMenu = @idMenu
else
	insert into Tbmenu values(@idMenu,@namaMenu,@hrgBeli,@hrgJual,@satuan,@stok)
GO
/****** Object:  StoredProcedure [dbo].[DELMENU]    Script Date: 24/01/2022 10:09:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[DELMENU]
@idMenu varchar(5)
as
delete from Tbmenu where idMenu = @idMenu
GO
USE [master]
GO
